* { box-sizing: border-box; }
body {
  font-family: arial, sans-serif;
  padding: 0; margin: 0; border: 0;
  min-height: 100vh;
  display: flex; justify-content: center; align-items: center;
}
#cbwrap {
  background: rgba(255, 255, 255, 0.9);
  width: 600px; padding: 20px;
  border-radius: 10px;
}
#cbtitle {
  margin-bottom: 40px;
  text-transform: uppercase;
}
#cbinfo {
  padding: 10px; margin-top: 40px;
  font-weight: 700; text-align: center;
}
#cbinfo a {
  text-decoration: none; padding: 5px;
  color: #fff; background: #a91616;
}
#vid, #go, #result { width: 100%; }
#go, #result { padding: 10px; }
#vid { height: 400px; }
#go { color: #fff; background: #5145b5; border: 0; cursor: pointer; }
#result { resize: none; height: 100px; border: 1px solid #c0bfff; background: #dceaff; }
