* { box-sizing: border-box; }
body {
  font-family: arial, sans-serif;
  padding: 0;
  margin: 0;
  /*
  display: flex; justify-content: center; align-items: center;
  background-color: transparent;
  */
}
.frontCamera {
  padding: 8px 18px;
  background: green;
  border: 0;
  color: #FFFFFF;
}
.backCamera {
  padding: 8px 18px;
  background: red;
  border: 0;
  color: #FFFFFF;
}
.mbabc {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  background: #030000;
}
#cbwrap {
  margin: 0 auto;
  width: 100%;
  /*
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
  */
}
#cbinfo {
  padding: 10px; margin-top: 10px;
  font-weight: 700; text-align: center;
}
#cbinfo a {
  text-decoration: none; padding: 5px;
  color: #fff; background: #212121;
}
#result { width: 100%; }
#result { padding: 10px; }
#vid { height: 400px; }
#go { width: 96px; height: 96px; border-radius: 100%; font-size: 32px; color: #fff; background: white; border: 0; cursor: pointer; }
#result { resize: none; height: 100px; border: 1px solid #212121; background: #FAFAFA; }
@media only screen and (max-width: 600px) {
  #cbwrap {
    width: 100%;
  }
  #vid {
    width: 100%;
    height: 100%;
  }
}
